<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmbedIO" version="2.2.9" targetFramework="net472" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="FSUIPCClientDLL" version="3.3.12" targetFramework="net472" />
  <package id="GMap.NET.Core" version="2.1.7" targetFramework="net48" />
  <package id="GMap.NET.WinForms" version="2.1.7" targetFramework="net48" />
  <package id="LibVLCSharp" version="3.9.0" targetFramework="net48" />
  <package id="MediaToolkit" version="1.1.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.2" targetFramework="net472" />
  <package id="Nito.Collections.Deque" version="1.2.1" targetFramework="net472" />
  <package id="Nito.Disposables" version="2.5.0" targetFramework="net472" />
  <package id="protobuf-net" version="3.2.45" targetFramework="net472" />
  <package id="protobuf-net.Core" version="3.2.45" targetFramework="net472" />
  <package id="RestSharp" version="112.1.0" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="2.1.9" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.6" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unosquare.Swan.Lite" version="1.0.0" targetFramework="net472" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.21" targetFramework="net48" />
</packages>